
span{
  color: var(--trird-vanilla-color-or-txt);
}
/*---------- 1 --------- ГЛАВНАЯ СТРАНИЦА */
/*вовсю страницу главное окно минус хедер*/
.vertical{
  height: calc(100vh - 83px);
  max-height: 1080px;
  min-height: 550px;
}
.img-main{
  background-image: url('/assets/imgs/main-img2.png');
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: right;
}
/*колонки главной страницы*/
.col-1-my{
  flex:0 0 auto;width:8.33333333%
}
.col-4-my{
  flex:0 0 auto;width:33.33333333%
}
.col-7-my{
  flex:0 0 auto;width:58.33333333%
}
/*приветстенное сообщение*/
.main-label{
  font-size: 4rem;
}
/*кнопка связаться*/
.button-config{
  margin-top: 1.1rem;
  font-size: 1.4rem;
  color: var(--trird-vanilla-color-or-txt);
  background-color: var(--deep-dark-blue);
  padding: 10px 30px;
  border: 0;
  border-radius: 0.2rem;
  transition: 0.2s;
}.button-config:hover{
   background-color: var(--second-blue-color);
   color: var(--black-color);
 }
.mark-blue{
  color: var(--second-blue-color);
}
.web-dev-txt{
  color: var(--second-blue-color);
  font-size: 1.9rem;
}
.bi-lower-about{
  color: var(--second-blue-color);
  font-size: 1.7rem;
}
.mark-darker-blue{
  color: var(--darker-second-blue-color);
}

/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*///////////////////---2 СТРАНИЦА--////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
#about{
  background-color: var(--black-color);
}
.img-selfie{
  max-width: 400px;
  width: 100%;
  /*width: 100%;*/
  /*max-height: calc(100vh - 120px);*/
  /*object-fit: cover;*/
}
p{
  color: var(--second-trird-vanilla-color-or-txt)
}
/*ВАРИАНТ-1*/
/* Стили для секции "Обо мне" */
#about {
  padding: 100px 20px; /* Добавляем немного отступов для красоты */
  display: flex;
  flex-direction: row; /* Располагаем элементы горизонтально */
  align-items: center; /* Выравниваем элементы по вертикали */
}
/* Стили для изображения */
.about-me__image {
  flex: 1; /* Занимает доступное пространство слева */
  text-align: center; /* Выравниваем изображение по центру горизонтально */
  /*margin-left: 7rem;*/

  /*height: 200px; !* Установите желаемую высоту *!*/
  /*overflow: hidden;*/

}
.about-me____photo{
  max-width: 100%; /* Устанавливаем максимальную ширину изображения */
}
/* Стили для текстового контента */
.about-me__content {

  /*height: 100%;*/
  height: 550px;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  flex: 2; /* Занимает доступное пространство справа */
  padding-left: 20px; /* Добавляем отступ слева для разделения текста и изображения */
}
/* Стили для заголовка */
.about-h2-lower{
  font-size: 24px;
  color: var(--trird-vanilla-color-or-txt);
  text-transform: uppercase;
  margin: 1rem;
}
/* Стили для текста обо мне */
.about-me__content div p {
  /*text-indent: 8px;*/
  text-align: justify;
  font-size: 16px;
}
.about-text-content{
  /*margin: 0 0 4rem 1rem;*/
}
.about-h2-upper{
  display: none;
}






/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*///////////////////---3 СТРАНИЦА--////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*Кнопки нав-бара выбора навыков, образования, опыта*/
/*Третья секция настройка*/
.third-section-page{
  position: relative;
  /*height: 100vh;*/
  /*max-height: 1080px;*/
}
/*>>>>>>>>>>>>>>>>>-------------------------------------НАВ БАР кнопок навыки, образования, опыта*/
.gap-nav-divs{
  gap: 10px;
}
/* "Моё резюме" главный title*/
.my-resume-main-label{
  color: var(--trird-vanilla-color-or-txt);
  font-weight: 500;
  /*font-size: 24px;*/
}
/*полоска вниз от title main*/
.my-resume-main-label:after{
  content: '';
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -60px;
  left: 50%;
  width: 5px;
  height: 50px;
  background-color: var(--second-blue-color);
  border-radius: 3px;
}
.div-main-label{
  margin-bottom: 5.2rem;
}
/*деление места на странице навигационных кнопок и карточек*/
.column-nav-resume{
  flex-basis: 35%;
}
.column-cards-resume{
  flex-basis: 65%;
}
.btn{
  border: 0 !important;
  border-radius: 0 !important;
  background-color: var(--deep-dark-blue);
  color: var(--trird-vanilla-color-or-txt);
  padding: 15px 50px;
  width: 100%;
  margin: 0;
}.btn:hover{
   background-color: #7eaebb;
 }.btn:active{
    background-color: var(--second-blue-color);
  }.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
     color: var(--deep-dark-blue);
     background-color: var(--second-blue-color) ;
   }
.btn-nav-resume{
  margin: 0;
}
/*div нав кнопок по скиллу, образ, опыту*/
.flexible-buttons-nav-resume{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*flex-direction: column;*/
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>--------------------Навыки SKILLS styles*/

/*заголовок карточки навыков*/
.text-label-card{
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  top: 18px;
  left: 20px;
  color: var(--trird-vanilla-color-or-txt)
}
.bi-icon-card-skills{
  position:absolute;
  right: 20px;
  top: 14px;
  font-size: 30px;
  color: var(--second-blue-color);
}
/*Навыки текст span*/
.span-of-text-really{
  color: var(--third-trird-vanilla-color-or-txt);
  font-size: 1.12rem;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-------------------Образование EDUCATION styles*/
/*Образование карточка И деление её на разделы*/
.second-card-title-EDU{
  flex-basis: 27%;
  margin: 0 20px;}
.third-card-title-EDU{
  flex-basis: 30%;
  margin: 0 1rem;
}
/*Образование главный лейбл заголовок*/
.title-experience{
  margin-left: 1.5rem;
  margin-top: 1.25rem;
  margin-right: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.title-education{
  margin-left: 1.5rem;
  margin-top: 1.25rem;
  margin-right: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
}
/*Образование текст span*/
.education-name{
  font-size: 0.7rem;
  color: var(--second-blue-color)
}
.education-upper-card-content{
  display: flex;
  justify-content: space-between;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-------------------Опыт EXPERIENCE style*/
/*Опыт текст span*/
.experience-text{
  color: var(--second-trird-vanilla-color-or-txt)
}
/*Опыт года текст*/
.years-experience{
  margin-top: 1.15rem;
  font-size: 1.1rem;
  color: var(--second-blue-color);
  padding: 6px 10px 25px;
  border: 1px solid var(--second-blue-color);
  background-color: rgb(52, 69, 109);
  border-radius: 16px;
  max-height: 50%;
}
.years-education{
  margin-top: 1.15rem;
  font-size: 1.1rem;
  color: var(--second-blue-color);
  padding: 6px 10px 25px;
  border: 1px solid var(--second-blue-color);
  background-color: rgb(52, 69, 109);
  border-radius: 16px;
  max-height: 50%;
}
.experience-upper-card-content{
  display: flex;
  justify-content: space-between;
}
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-------------------КАРТОЧКА и ее стили*/
/*поле на котором карточки*/
.card-resume{
  width: 80%;
  position: relative;
  /*min-height: 500px;*/
}
/*Бефор и Афтер это полоски*/
.card-resume:before{
  content: '';
  display: flex;
  flex-direction: column;
  /*flex-basis: 400px;*/
  width: 7px;
  height: 100%;
  background-color: var(--second-blue-color);
  border-radius: 3px;
  position: absolute;
}
.card-resume:after{
  content: '';
  display: flex;
  flex-direction: column;
  /*flex-basis: 400px;*/
  width: 7px;
  height: 100%;
  background-color: var(--second-blue-color);
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 0;
}
/*карточка*/
.current-card{
  flex: 0 0 50%;
  height: 100%;
  width: auto;
  background-color: var(--first-red-color);
}
/*карточка, еще не контентная*/
.inner-card-info{
  height: 180px;
  background-color: var(--deep-dark-blue);
  margin: 15px 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
/*Тут внутри контент карточки*/
.super-inner-div{
  margin: 20px 14px;
}
/*Это шапка, в которой заголовок карточки*/
.first-card-title{
  background-color: var(--black-color);
  border-radius: 10px;
  margin-bottom: 15px;
  flex-basis: 43%;
}
/*ту внутри текст карточки */
.second-card-text{
  flex-basis: 57%;
  margin: 0 20px;
}
/*Если карточка пустая*/
.none-card{
  background-color: rgb(39, 51, 76) !important;
  /*border: 2px solid var(--deep-dark-blue)*/
  height: 180px;
  /*background-color: var(--deep-dark-blue);*/
  margin: 15px 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}











.experience__current-card{
  flex: 0 0 50%;
  height: 100%;
  width: auto;
  background-color: var(--first-red-color);
}
.experience__inner-card-info{
  height: 180px;
  background-color: var(--deep-dark-blue);
  margin: 15px 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.experience__first-card-title{
  background-color: var(--black-color);
  border-radius: 10px;
  margin-bottom: 15px;
  flex-basis: 43%;
}
.experience__second-card-text{
  flex-basis: 57%;
  margin: 0 20px;
}
.experience__years-experience{
  margin-top: 1.15rem;
  font-size: 1.1rem;
  color: var(--second-blue-color);
  padding: 6px 10px 25px;
  border: 1px solid var(--second-blue-color);
  background-color: rgb(52, 69, 109);
  border-radius: 16px;
  max-height: 50%;
}




.education__current-card{
  flex: 0 0 50%;
  height: 100%;
  width: auto;
  background-color: var(--first-red-color);
}
.education__inner-card-info{
  height: 180px;
  background-color: var(--deep-dark-blue);
  margin: 15px 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}













/*//////////////////////////////////////////////////*/
/*//////////------@Адаптивные медиа-запросы---//////*/
/*//////////////////////////////////////////////////*/
@media  (max-width: 1041px) {
  .years-experience{
    padding-bottom: 3em;
  }
  .experience__inner-card-info{
    height: 230px;
  }
}

@media (max-width: 1100px){ /* -------> width: 1100px*/
  /*колонки главной страницы*/
  .col-1-my{
    flex:0 0 auto;width:16.66666667%
  }
  .col-4-my{
    flex:0 0 auto;width:50%
  }
  .col-7-my{
    flex:0 0 auto;width:33.33333333%
  }
  .img-main{
    background-image: none;
    background-repeat: no-repeat;
    background-size: 0;
    background-position: right;
  }
  .about-text-content{
    /*margin: 0 7rem 3rem 1rem;*/
  }
  .about-me__image {
    /*flex: 1; !* Занимает доступное пространство слева *!*/
    /*text-align: center; !* Выравниваем изображение по центру горизонтально *!*/
    /*margin-left: 7rem;*/
  }
  #about {
    padding: 70px 20px 85px 20px; /* Добавляем немного отступов для красоты */
  }
  .education__inner-card-info {
    height: 250px;
  }
  .none-card{
    height: 230px;
  }
}

@media (max-width: 1043px) and (min-width: 768px){

}

@media (max-width: 768px){ /* -------> width: 768px*/
  .web-dev-div{
    margin-top: 0.5rem;
  }
  .experience__inner-card-info{
    height: 180px;
  }
  .years-experience{
    padding: 6px 10px 25px;
  }
  .education__inner-card-info {
    height: 180px;
  }
  .current-card {
    flex: 0 0 100%; /*@@@@@@@@@@@@@@@@@@@тут медиа запрос нужон*/
  }
  .education__current-card{
    flex: 0 0 100%; /*@@@@@@@@@@@@@@@@@@@тут медиа запрос нужон*/
  }
  .experience__current-card {
    flex: 0 0 100%; /*@@@@@@@@@@@@@@@@@@@тут медиа запрос нужон*/
  }

  /*исчезают пустые карточки*/
  .none-card{
    display: none !important;
  }
  /*Главная страница навигационная панель*/
  #about{
    flex-direction: column;
    padding: 60px 20px 60px 20px; /* Добавляем немного отступов для красоты */
  }
  .about-me__image {
    flex:0 0 auto;
    width:70%;
    /*height: auto;*/
    /*height: auto;*/
    height: 350px;
  /*  overflow: hidden;*/
  }
  .about-me____photo{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    /*max-height: none;*/

    /*max-height: 200px;*/

  /*  max-width: none;*/
  /*  width: 100%; !* Устанавливаем максимальную ширину изображения *!*/
  /*  height: 100%;*/
  /*  object-fit: cover;*/
  }

  .about-me__content{
    flex:0 0 auto;width:90%;
    padding: 0;
  }

  .about-h2-lower {
    font-size: 20px;
    color: var(--trird-vanilla-color-or-txt);
    text-transform: uppercase;
    margin: 1rem 0;
  }

  .about-me__content div p {
    /*text-indent: 8px;*/
    text-align: justify;
    font-size: 16px;
  }

  .about-text-content{
    margin: 0 0 0 0;
  }

  /*Главная страница разметка*/
  .col-1-my{
    flex:0 0 auto;width:16.66666667%
  }
  .col-4-my{
    flex:0 0 auto;width:58.33333333%
  }
  .col-7-my{
    flex:0 0 auto;width:25%
  }
  .nav-button-resume{
    /*border-radius: 101px;*/

    /*border: #3C517C 4px solid;*/
    flex: 1 1 600px;
  }
  .btn-nav-resume{
    /*flex-grow: 1;*/
  }
  .btn{
    /*width: 600px;*/
    margin-bottom: 10px;
  }
  .main-label{
    /*font-size: 3rem;*/
    line-height: 130%
  }
}
@media (max-width: 582px){ /* ------------>  width: 582px*/
  .title-experience{
    font-size: 1.2rem;
  }
  .years-experience{
    padding: 6px 10px 4px;
    font-size: 0.9rem;
    /*margin: 0.5rem 1.15rem 0.9rem 1.15rem;*/
    width: 98px;
    height: 43%;
    margin: 1.15rem 1.15rem 0.9rem 1.15rem;
  }
  .span-of-text-really{
    color: var(--third-trird-vanilla-color-or-txt);
    font-size: 1.0rem;
  }
  .experience-text{
    color: var(--second-trird-vanilla-color-or-txt);
    font-size: 0.9rem;
  }
  .years-experience{
    /*margin: 0 1.15rem 0.9rem 1.15rem;*/
    /*font-size: 1.1rem;*/
    /*color: var(--second-blue-color);*/
    /*padding: 6px 10px;*/
    /*border: 1px solid var(--second-blue-color);*/
    /*background-color: rgb(52, 69, 109);*/
    /*border-radius: 16px;*/
    /*max-height: 50%;*/
    /*width: 116px;*/
  }
  .years-education{
    margin-top: 1.15rem;

    font-size: 1.1rem;
    color: var(--second-blue-color);
    padding: 6px 10px;
    border: 1px solid var(--second-blue-color);
    background-color: rgb(52, 69, 109);
    border-radius: 16px;
    max-height: 50%;
    width: 116px;
  }
  .current-card {
    flex: 0 0 100%;
    height: 100%;
  }
  .experience__current-card {
    flex: 0 0 100% !important;
    height: 100%;
  }

  .inner-card-info{
    height: 200px;
    background-color: var(--deep-dark-blue);
    margin: 15px 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .third-card-title-EDU{
    /*height: 140px;*/
    flex-basis: 50%;
  }
  .education-upper-card-content{
    margin-bottom: 0.2rem;
  }
  .education__inner-card-info{
    /*height: 250px;*/
    background-color: var(--deep-dark-blue);
    margin: 15px 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }


  .experience__inner-card-info{
    height: 200px;
    background-color: var(--deep-dark-blue);
    margin: 15px 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .education-name{
    font-size: 0.65rem;
    color: var(--second-blue-color)
  }
  #about {
    padding: 50px 20px 55px 20px; /* Добавляем немного отступов для красоты */
  }
  .about-h2-lower{
    margin-top: 0;
    display: none;
  }
  .about-text-content{
    margin-top: 1rem;
  }
  .about-h2-upper{
    display: block;
    font-size: 20px;
    color: var(--trird-vanilla-color-or-txt);
    text-transform: uppercase;
    margin: 1rem 0;
    margin-top: 0;
  }
  .about-me__image {
    height: 180px;
    width: 90%;
  }
  .about-me__content div p {
    /*text-indent: 8px;*/
    text-align: justify;
    font-size: 14px;
  }
  /*карточка 2стр*/
  .btn{
    /*width: 100vh;*/
    margin-left: 0;
    margin-right: 0;
    /*max-width: 500px;*/
    margin-bottom: 10px;

  }
  /*.current-card {*/
  /*  flex: 1 0 200px;*/
  /*  height: 100%;*/
  /*  width: auto;*/
  /*}*/
  /*колонки главной страницы сужаются*/
  .col-1-my{
    flex:0 0 0
  }
  .col-4-my{
    flex:0 0 auto;width:100%
  }
  .col-7-my{
    flex:0 0 0
  }
  .title-education{
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .years-education{
    padding: 6px 10px 25px;
    font-size: 0.9rem;
    /*margin: 0.5rem 1.15rem 0.9rem 1.15rem;*/
    width: 98px;
    height: 43%;
  }
  .text-label-card{
    font-size: 1.2rem;
    position: absolute;
    top: 29px;
    left: 20px;
    color: var(--trird-vanilla-color-or-txt)
  }
  .span-of-text-really{
    font-size: 14px;
  }
}



@media(max-width: 435px) {
  .experience-upper-card-content{
    flex-direction: column;
  }
  .years-experience{
    margin: 0.2rem 1.15rem 0.9rem 1.15rem;
  }
}


@media(max-width: 410px) {
  #about {
    padding: 50px 20px 115px 20px; /* Добавляем немного отступов для красоты */
  }
  .title-experience{
    margin-top: 1.25rem;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .years-experience{
    padding: 6px 10px 4px;
    font-size: 0.9rem;
    /*margin: 0.5rem 1.15rem 0.9rem 1.15rem;*/
    width: 98px;
    height: 43%;
    margin: 0.2rem 1.15rem 0.9rem 1.15rem;
  }
  .main-label{
    font-size: 3rem;
    line-height: 110%
  }
  .web-dev-txt{
    font-size: 1.3rem;
  }
  .button-config {
    margin-top: 1.1rem;
    font-size: 0.8rem;
  }
}


@media (max-width: 369px) {
 .education__inner-card-info{
   height: 260px;
 }
}

@media (max-width: 363px) {  /* -------> width: 352px*/
  .experience__inner-card-info{
    height: 220px;
    background-color: var(--deep-dark-blue);
    margin-top: 1.15rem;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .years-education{
    margin: 1.15rem;
    /*font-size: 1.1rem;*/
    color: var(--second-blue-color);
    padding: 6px 10px;
    border: 1px solid var(--second-blue-color);
    background-color: rgb(52, 69, 109);
    border-radius: 16px;
    /*max-height: 50%;*/
    /*width: 116px;*/
  }
}
@media (max-width: 352px){ /* -------> width: 352px*/
  .years-education{
    font-size: 0.9rem;
    margin: 0.5rem 1.15rem 0.9rem 1.15rem;
  }
  .experience__inner-card-info{
    height: 220px;
    background-color: var(--deep-dark-blue);
    margin: 15px 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .education-upper-card-content{
    flex-direction: column;
  }

  #about {
    /*padding: 50px 20px 115px 20px; !* Добавляем немного отступов для красоты *!*/
  }
  .about-me__content div p {
    /*text-indent: 8px;*/
    text-align: justify;
    font-size: 13px;
  }
  .about-me__image {
    /*height:100px;*/
    /*width: 20%;*/
  }

}


@media (max-width: 336px) {
  .education__inner-card-info{
    height: 290px;
  }

}









/*короче, сделать меньше шрифт у карточек в опыте, у карточек в образовании надо центрировать названия учебы и увеличить сами карточки*/
















@media (max-width: 325px){
  #about {
    padding: 50px 20px 200px 20px; /* Добавляем немного отступов для красоты */
  }
}
@media (max-width: 298px){
  #about {
    /*padding: 50px 20px 300px 20px; !* Добавляем немного отступов для красоты *!*/
  }
  .experience__inner-card-info {
    height: 270px;
  }
}

/*таблица колонок (для себя)*/
.col{flex:1 0 0%}
.col-auto{flex:0 0 auto;width:auto}
.col-1{flex:0 0 auto;width:8.33333333%}
.col-2{flex:0 0 auto;width:16.66666667%}
.col-3{flex:0 0 auto;width:25%}
.col-4{flex:0 0 auto;width:33.33333333%}
.col-5{flex:0 0 auto;width:41.66666667%}
.col-6{flex:0 0 auto;width:50%}
.col-7{flex:0 0 auto;width:58.33333333%}
.col-8{flex:0 0 auto;width:66.66666667%}
.col-9{flex:0 0 auto;width:75%}
.col-10{flex:0 0 auto;width:83.33333333%}
.col-11{flex:0 0 auto;width:91.66666667%}
.col-12{flex:0 0 auto;width:100%}
