.min-height-header{
  min-height: 5rem;
}

span{
  margin-top: 3rem;
  color: var(--trird-vanilla-color-or-txt);
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 300;
  text-transform: uppercase;
}
span:hover{
  color: var(--second-blue-color);
}

.container-header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}


.col-6-my{
  flex:0 0 auto;width:50%;
}
.col-4-my{
  flex:0 0 auto;width:33.33333333%;
}
.col-2-my{
  flex:0 0 auto;width:16.66666667%;
}




@media (max-width: 1100px){
  .col-6-my{
    flex:0 0 auto;width:0;
  }
  .col-4-my{
    flex:0 0 auto;width:100%;
  }
  .col-2-my{
    flex:0 0 auto;width:0%;
  }
  span{
    font-size: 1.3rem;
  }
}

@media (max-width: 340px){
  span{
    font-size: 0.9rem;
  }
}






/*таблица колонок (для себя)*/
.col{flex:1 0 0%}
.col-auto{flex:0 0 auto;width:auto}
.col-1{flex:0 0 auto;width:8.33333333%}
.col-2{flex:0 0 auto;width:16.66666667%}
.col-3{flex:0 0 auto;width:25%}
.col-4{flex:0 0 auto;width:33.33333333%}
.col-5{flex:0 0 auto;width:41.66666667%}
.col-6{flex:0 0 auto;width:50%}
.col-7{flex:0 0 auto;width:58.33333333%}
.col-8{flex:0 0 auto;width:66.66666667%}
.col-9{flex:0 0 auto;width:75%}
.col-10{flex:0 0 auto;width:83.33333333%}
.col-11{flex:0 0 auto;width:91.66666667%}
.col-12{flex:0 0 auto;width:100%}
