.min-height-header{
  min-height: 5rem;
}

span{
  color: var(--trird-vanilla-color-or-txt);
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;
}
span:hover{
  color: var(--second-blue-color);
}

.container-header {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
