:host{
  height: 100%;
  width: 100%;
  background: rgb(46, 59, 87);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-input{
  width:100%;
}

.auth-modal-container{
  width: 400px;
  height: 200px;
  background: var(--black-color);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
}

.auth-input{
  border-color: #131313;outline:0;
}
