h5, label, span {
  color: #fcf1ed;
}

h2{
  color: #97c9d7;
}

.bi-class{
  font-size: 50px;
  transition: 0.15s;
  cursor: pointer;
  color: #212529;
  -webkit-text-stroke: 1px  #fcf1ed;
}.bi-class:hover{
 color: #97c9d7;
   -webkit-text-stroke: 1px  #97c9d7;
}

.est{
 border: 3px solid #97c9d7;
}

.btn {
  border-radius: 0 !important;
  background-color: #97c9d7;
}

.btn-close{
  border: 1px solid #97c9d7 !important;
}
