h5, label, span {
  color: var(--trird-vanilla-color-or-txt);
}

h2{
  color: var(--second-blue-color);
}

.bi-class{
  font-size: 40px;
  transition: 0.15s;
  cursor: pointer;
  color: var(--black-color);
  -webkit-text-stroke: 1px  var(--trird-vanilla-color-or-txt);
}.bi-class:hover{
 color: var(--second-blue-color);
   -webkit-text-stroke: 1px  var(--second-blue-color);
   font-size: 50px;
}

.light-border{
 border: 3px solid var(--second-blue-color);
}

.btn {
  border-radius: 4px !important;
  background-color: var(--second-blue-color);
  height: 40px;
  width: 150px;
}.btn:active{
  background-color: #8db6c2;
 }

.modal-body{
  background-color: var(--black-color);
}

.form-control{
  background-color: var(--deep-dark-blue);
  color:var(--trird-vanilla-color-or-txt);
  /*border-radius: 0;*/
}
.form-control:focus{
  color:var(--trird-vanilla-color-or-txt);
  background-color: var(--deep-dark-blue);
  border-color:#86b7fe;outline:0;
  box-shadow:0 0 0 .25rem var(--second-blue-color);
}

textarea{
  resize: none;
}
.btn-closed {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 2px solid var(--second-blue-color);
  color: var(--trird-vanilla-color-or-txt)
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
