<mat-toolbar class="control-main-bg">
  <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
          (click)="onClickOpenSidenav(); $event.stopPropagation()"
>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header-label">Панель администрирования</span>
  <span class="spacer"></span>
  <div class="d-flex gap-4 h-100 align-items-center container-badges">
<!--    <div class="d-flex gap-2">-->
<!--      <span>Посетителей </span>-->
<!--      <span class="control-primary fw-bold">{{countVisitors}}</span>-->
<!--    </div>-->
<!--    <div class="d-flex gap-2">-->
<!--      <span>Уникальных </span>-->
<!--      <span class="control-primary fw-bold">{{countUniqueVisitors}}</span>-->
<!--    </div>-->
    <div class="d-flex gap-3 me-3 ">
      <span><i class="bi bi-person-check fs-5"></i><span class="badge text-bg-secondary ">{{countVisitors}} </span></span>
      <span><i class="bi bi-person-plus"></i><span class="badge text-bg-secondary ">{{countUniqueVisitors}} </span></span>
<!--      <mat-icon matBadge="{{countVisitors}}" matBadgeColor="warn">person</mat-icon>-->
<!--      <mat-icon matBadge="{{countUniqueVisitors}}" matBadgeColor="warn">person_add</mat-icon>-->
    </div>
  </div>




<!--  <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--    <mat-icon class="me-3">format_color_fill</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #menu="matMenu" class="d-flex flex-wrap flex-column">-->
<!--    <button mat-menu-item>-->
<!--      <mat-icon> radio_button_unchecked</mat-icon>-->
<!--      <mat-icon>invert_colors</mat-icon>-->
<!--      <span>Светлая тема</span>-->
<!--    </button>-->

<!--    <button mat-menu-item>-->
<!--      <mat-icon>radio_button_unchecked</mat-icon>-->
<!--      <mat-icon>invert_colors_off</mat-icon>-->
<!--      <span>Темная тема</span>-->
<!--    </button>-->

<!--    <mat-radio-button value="1">-->
<!--      <mat-icon>invert_colors_off</mat-icon>-->
<!--      Option 1-->
<!--    </mat-radio-button>-->
<!--    <mat-radio-button value="2">-->
<!--      <mat-icon>invert_colors_off</mat-icon>-->
<!--      Option 1-->
<!--    </mat-radio-button>-->
<!--  </mat-menu>-->

</mat-toolbar>



