.spacer {
  flex: 1 1 auto;
}
.header-label{
  font-size: 19px !important;

}

div span {
  font-size: 16px;
  height: 23px;
}

.badge {
  width: 60px !important;
  font-size: 14px !important;
}

@media(max-width: 500px) {
  .header-label{
    font-size: 14px !important;
    display: none;
  }
  .spacer {
    display: none;
  }
  .container-badges{
    flex-grow: 1;
    justify-content: center;
  }
}
