.spacer {
  flex: 1 1 auto;
}
.header-label{
  font-size: 19px !important;

}

div span {
  font-size: 16px;
  height: 23px;
}

@media(max-width: 500px) {
  .header-label{
    font-size: 17px !important;
  }
}
