.flex1{
  flex-grow: 1;
}
.flex2{
  flex-grow: 4;
}


.max-width{
  max-width: 1266px;
}

app-aside{
  background-color: var(--grey-for-bg-color);
}

app-inner-body{
  background-color: var(--grey-for-bg-color);
}
