.flex-container {
  display: flex;
  flex-direction: column;
  height: 650px; /* Высота родительского контейнера */
  overflow: auto;
  cursor: pointer !important;
}

.table-container{
  overflow-y: auto; /* Включаем прокрутку по вертикали */
}

.table {
  max-height: 100%; /* Высота, после которой появится прокрутка */
  overflow-y: auto; /* Включаем прокрутку по вертикали */
  display: block; /* Делаем таблицу блочным элементом */
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td[mat-cell]{
  font-size: 13px;
}

tr[mat-row]:hover {
  background: var(--control-black-bg);
}

.mdc-data-table__row {
  height: 35px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 12px 0 12px;
}
.snack-bar{
  background-color: #7b1fa2;
  color: #05fcff;
}

.highlight-row {
  background-color: rgba(255, 255, 255, 0.04);
}

.chosen-row {
  background-color: rgba(255, 78, 138, 0.22) !important;
}

@media(max-width: 500px) {
  .flex-container {
    height: 500px;
  }

  .table-container{
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  mat-paginator{
    width: 471px;
  }

  td[mat-cell]{
    font-size: 12px;
  }

  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 0 0 3px;
  }
}
