<div class="flex-container">
  <div  *ngIf="matDataSource"
        class="mat-elevation-z8 table-container overflow-auto">
    <table
      mat-table
      [dataSource]="matDataSource"
      matSort
      matSortActive="date"
      matSortDirection="desc"
      class="mat-elevation-z8">

      <div *ngIf="TableType.Visitors == tableForType">
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element">{{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> date </th>
          <td mat-cell *matCellDef="let element"> {{element.date | newDatePipe}} </td>
        </ng-container>

        <ng-container matColumnDef="ip">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> ip </th>
          <td mat-cell *matCellDef="let element" class="position-relative">
            <div class="category-div"></div>
            <span class="position-static">{{element.ip}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="agent">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> agent </th>
          <td mat-cell *matCellDef="let element" class=""> {{element.agent.slice(0,30)}}... </td>
        </ng-container>

        <ng-container matColumnDef="path">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> path </th>
          <td mat-cell *matCellDef="let element"> {{element.path}} </td>
        </ng-container>

        <ng-container matColumnDef="browser">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> browser </th>
          <td mat-cell *matCellDef="let element"> {{element.browser}} </td>
        </ng-container>

        <ng-container matColumnDef="browser_version">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> browser_version </th>
          <td mat-cell *matCellDef="let element"> {{element.browser_version}} </td>
        </ng-container>

        <ng-container matColumnDef="os">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> os </th>
          <td mat-cell *matCellDef="let element"> {{element.os}} </td>
        </ng-container>

        <ng-container matColumnDef="os_version">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> os_version </th>
          <td mat-cell *matCellDef="let element"> {{element.os_version}} </td>
        </ng-container>

        <ng-container matColumnDef="device">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> device </th>
          <td mat-cell *matCellDef="let element"> {{element.device}} </td>
        </ng-container>

        <ng-container matColumnDef="device_type">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> device_type </th>
          <td mat-cell *matCellDef="let element"> {{element.device_type}} </td>
        </ng-container>

        <ng-container matColumnDef="language">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> language </th>
          <td mat-cell *matCellDef="let element"> {{element.language}} </td>
        </ng-container>

        <ng-container matColumnDef="orientation">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> orientation </th>
          <td mat-cell *matCellDef="let element"> {{element.orientation}} </td>
        </ng-container>

        <ng-container matColumnDef="screen_width">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> x </th>
          <td mat-cell *matCellDef="let element"> {{element.screen_width}} </td>
        </ng-container>

        <ng-container matColumnDef="screen_height">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> y </th>
          <td mat-cell *matCellDef="let element"> {{element.screen_height}} </td>
        </ng-container>screen_width
<!--        <ng-container matColumnDef="delete">-->
<!--          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> delete </th>-->
<!--          <td mat-cell *matCellDef="let element">-->
<!--            <button mat-button-->
<!--                    class="btn-delete"-->
<!--                    (click)="$event.stopImmediatePropagation(); onClickDelete(element)">-->
<!--              удалить-->
<!--            </button>-->
<!--          </td>-->
<!--        </ng-container>screen_width-->
      </div>

      <div *ngIf="TableType.Contacts === tableForType">
        <ng-container matColumnDef="id">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="question">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> question </th>
          <td mat-cell *matCellDef="let element"> {{element.question}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> comment </th>
          <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
        </ng-container>

        <ng-container matColumnDef="ip">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> ip </th>
          <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
        </ng-container>

        <ng-container matColumnDef="device">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> device </th>
          <td mat-cell *matCellDef="let element"> {{element.device}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell mat-sort-header class="control-accent" *matHeaderCellDef> date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
      </div>


      <tr mat-header-row
          *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.highlight-row]="row.ip_description"
          [class.chosen-row]="row == chosenRow"
          (click)="onClickRowFromTable(row)"
      ></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, matDataSourceLength]" showFirstLastButtons [pageSize]="10"></mat-paginator>
  </div>
</div>

