.flex-container {
  display: flex;
  flex-direction: column;
  height: 650px; /* Высота родительского контейнера */
  overflow: auto;
  cursor: pointer !important;
}
.mat-row {
  border-top: 2px rgba(255, 77, 77, 0.4) solid;
}

.table-container{
  overflow-y: auto; /* Включаем прокрутку по вертикали */
}

.table {
  max-height: 100%; /* Высота, после которой появится прокрутка */
  overflow-y: auto; /* Включаем прокрутку по вертикали */
  display: block; /* Делаем таблицу блочным элементом */
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td[mat-cell]{
  font-size: 13px;
}

tr[mat-row]:hover {
  background: var(--control-black-bg);
}

.mdc-data-table__row {
  height: 35px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 12px 0 12px;
}
.snack-bar{
  background-color: #7b1fa2;
  color: #05fcff;
}

.highlight-row {
  background-color: rgba(175, 175, 175, 0.04);
}

.chosen-row {
  background-color: rgba(98, 255, 135, 0.22) !important;
}
.category-desc-mark{
  width: 8px;
  height: 8px;
  background-color: #69f0ae;
  border-radius: 14px;

  position: absolute;
  top: 40%;
  right: 10px;
}
.category-non-desc-mark{
  width: 8px;
  height: 8px;
  background-color: #ff7d6c;
  border-radius: 14px;

  position: absolute;
  top: 40%;
  right: 10px;
}
@media(max-width: 500px) {
  .flex-container {
    height: 500px;
  }

  .table-container{
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  mat-paginator{
    width: 471px;
  }

  td[mat-cell]{
    font-size: 12px;
  }

  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 0 0 3px;
  }
}
