.loader {
  position: absolute;
  top: 50%;
  left: calc(50% - 25px);
  z-index: 9999999;
  width: 50px;
  height: 24px;
  display: inline-block;
  border: 2px solid var(--spinner-color);
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--spinner-color);
  width: 5px;
  height: 12px;
}
.loader::before {
  content: '';
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  height: 80%;
  width: 6px;
  box-sizing: border-box;
  animation: animloader  2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 11px 0 rgba(255, 255, 255, 0), 22px 0 rgba(255, 255, 255, 0), 33px 0 rgba(255, 255, 255, 0), 44px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 11px 0 var(--spinner-color), 22px 0 rgba(255, 255, 255, 0), 33px 0 rgba(255, 255, 255, 0), 44px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 11px 0 var(--spinner-color), 22px 0 #ff7aa8, 33px 0 rgba(255, 255, 255, 0), 44px 0 rgba(255, 255, 255, 0);
  }
  75% {
    box-shadow: 11px 0 var(--spinner-color), 22px 0 #ff7aa8, 33px 0 #ff9ec2, 44px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 11px 0 var(--spinner-color), 22px 0 #ff7aa8, 33px 0 #ff9ec2, 44px 0 #ffc3da;
  }
}
