
span{
  color: var(--trird-vanilla-color-or-txt);
}
/*-- 1 -- ГЛАВНАЯ СТРАНИЦА */
/*вовсю страницу главное окно минус хедер*/
.vertical{
  height: calc(100vh - 84px);
}
/*колонки главной страницы*/
.col-1-my{
  flex:0 0 auto;width:8.33333333%
}
.col-4-my{
  flex:0 0 auto;width:33.33333333%
}
.col-7-my{
  flex:0 0 auto;width:58.33333333%
}
/*приветстенное сообщение*/
.main-label{
  font-size: 4rem;
}
/*кнопка связаться*/
.button-config{
  font-size: 1.4rem;
  color: var(--trird-vanilla-color-or-txt);
  background-color: var(--first-red-color);
  border: 0;
  border-radius: 0.3rem;
  transition: 0.2s;
}.button-config:hover{
   background-color: var(--second-blue-color);
 }
 /*пример фотографи*/
.div-photo{
  width: 354px;
  height: 472px;
  background-color: var(--second-blue-color);
}



/*-- 2 -- ОБО МНЕ СТРАНИЦА*/
#about{
  background-color: var(--black-color);
}
/*пример фотки*/
.div-photo-sec{
  width: 600px;
  height: 572px;
  background-color: var(--second-blue-color);
}
/*текст обо мне ПЕЕДЕЛАТЬ В МЕДИА ЗАПРОСАХ*/
.div-text-about-me{
  height: 400px;
}








/* --3-- НАВЫКИ СТРАНИЦА*/
/*Кнопки нав-бара выбора навыков, образования, опыта*/
.btn{
  border: 0 !important;
  border-radius: 0 !important;
  background-color: var(--deep-dark-blue);
  color: var(--trird-vanilla-color-or-txt);
  padding: 15px 50px;
}.btn:hover{
  background-color: #7eaebb;
}.btn:active{
   background-color: var(--second-blue-color);
}.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
   color: var(--deep-dark-blue);
   background-color: var(--second-blue-color) ;
}
.btn-nav-resume{
  /*width: 200px;*/
  /*height: 30px;*/
  margin: 0 20px;
}
.gap-nav-divs{
  /*gap: 10px;*/
}
/*деление места на странице навигационных кнопок и карточек*/
.column-nav-resume{
  flex-basis: 35%;
}
.column-cards-resume{
  flex-basis: 65%;
}
/*поле на котором карточки*/
.card-resume{
  width: 80%;
  /*min-height: 500px;*/
}
/*карточка*        короче в чем прикол, это будет див карточки о внутри надо создать уже конкретно карточку*/
.current-card{
  flex: 0 0 50%; /*@@@@@@@@@@@@@@@@@@@тут медиа запрос нужон*/
  height: 100%;
  width: auto;
  background-color: var(--first-red-color);
}
.inner-card-info{
  height: 180px;
  background-color: var(--deep-dark-blue);
  margin: 15px 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.super-inner-div{
  margin: 20px 14px;
}
.text-label-card{
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--trird-vanilla-color-or-txt)
}
.bi-icon-card-skills{
  position:absolute;
  right: 20px;
  top: 20px;

  font-size: 30px;
  color: var(--second-blue-color);
}
.first-card-title{
  flex-basis: 43%;
}
.second-card-text{
  flex-basis: 57%;
  margin: 0 20px;
}

.first-card-title-EDU{
  flex-basis: 43%;
}
.second-card-title-EDU{
  flex-basis: 27%;
  margin: 0 20px;
}
.third-card-title-EDU{
  flex-basis: 30%;
  margin: 0 1rem;
}


.span-of-text-really{
  color: var(--second-blue-color);
}
.title-experience{
  font-weight: 500;
  font-size: 1.4rem;
}
.years-experience{
  font-size: 1.1rem;
  color: var(--second-blue-color);
  padding: 6px 10px;
  border: 1px solid var(--second-blue-color);
  background-color: rgb(52, 69, 109);
  border-radius: 16px;

  max-height: 50%;
}
.experience-text{
  color: var(--second-trird-vanilla-color-or-txt)
}
.education-name{
  font-size: 0.7rem;
  color: var(--second-blue-color)
}
.odd-text{
  color: var(--second-blue-color)
}
.my-resume-main-label{
  color: var(--trird-vanilla-color-or-txt);
  font-weight: 500;
  font-size: 2rem;
}




/*Адаптивные медиа-запросы*/
@media (max-width: 1100px){ /* -------> width: 1100px*/
  /*колонки главной страницы*/
  .col-1-my{
    flex:0 0 auto;width:16.66666667%
  }
  .col-4-my{
    flex:0 0 auto;width:33.33333333%
  }
  .col-7-my{
    flex:0 0 auto;width:50%
  }
}
@media (max-width: 525px){ /* ------------>  width: 525px*/
  /*карточка 2стр*/
  .current-card {
    flex: 1 0 200px;
    height: 100%;
    width: auto;
  }
  .nav-button-resume{
  }
  /*колонки главной страницы*/
  .col-1-my{
    flex:0 0 0
  }
  .col-4-my{
    flex:0 0 auto;width:100%
  }
  .col-7-my{
    flex:0 0 0
  }
}


/*таблица колонок (для себя)*/
.col{flex:1 0 0%}
.col-auto{flex:0 0 auto;width:auto}
.col-1{flex:0 0 auto;width:8.33333333%}
.col-2{flex:0 0 auto;width:16.66666667%}
.col-3{flex:0 0 auto;width:25%}
.col-4{flex:0 0 auto;width:33.33333333%}
.col-5{flex:0 0 auto;width:41.66666667%}
.col-6{flex:0 0 auto;width:50%}
.col-7{flex:0 0 auto;width:58.33333333%}
.col-8{flex:0 0 auto;width:66.66666667%}
.col-9{flex:0 0 auto;width:75%}
.col-10{flex:0 0 auto;width:83.33333333%}
.col-11{flex:0 0 auto;width:91.66666667%}
.col-12{flex:0 0 auto;width:100%}
