<!--1 главная-первая страница-->
<section
         class="d-flex vertical img-main">
  <div class="col-1-my"></div>
  <div class="col-4-my d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column"> <!-- Приветствие  -->
      <span class="main-label">Привет 👋<span class="">!</span></span>
      <span class="col main-label"><span class="">я,</span> Матвей<span class="mark-blue">.</span></span>
      <div>
        <button (click)="onContactMe()"
                class="button-config">СВЯЗАТЬСЯ</button>
      </div>
    </div>
  </div>
  <!--фотография-->
  <div class="col-7-my d-flex  justify-content-center align-items-center">
<!--    <div class="div-photo"></div>- -->
  </div>
</section>









<!--2 секция обо мне-->
<section id="about">

<!--ВАРИАНТ-1  то что ниже, как вариант, очень неплохо но текст не обтекает снизу-->
  <h2 class="about-h2-upper">Обо мне</h2>
  <div class="about-me__image">
    <img class="about-me____photo" src="assets/imgs/selfieMain.jpeg" alt="Моё фото">
  </div>
  <div class="about-me__content">
    <h2 class="about-h2-lower">Обо мне</h2>
    <div class="about-text-content">
      <p>Привет, меня зовут Матвей Ильин, и я - веб-разработчик, готовый создавать цифровые миры с бескрайними возможностями. Моя история началась с разработки телеграм-ботов на фрилансе, но моё сердце принадлежит веб-миру.</p>
      <p>Каждый день для меня - новое приключение. Я стремлюсь учиться и развиваться, впитывая знания и техники, которые делают интернет более удивительным местом. В настоящее время моя основная область - фронтенд разработка с использованием фреймворка Angular и магии TypeScript.</p>
      <p>Моя философия в дизайне - это минимализм и практичность. Я верю, что простота - ключ к пониманию и удобству. Мои проекты отражают этот подход, делая взаимодействие с веб-сайтами интуитивно понятным и приятным.</p>
      <p>Если вы разделяете мою страсть к совершенствованию в веб-разработке или хотите обсудить проект, который интересует вас, не стесняйтесь связаться со мной. Давайте сотворим веб-пространство, которое будет вдохновлять идеями и привлекать внимание пользователей!</p>
    </div>
  </div>
</section>









<!--3 секция навки-->
<section id="skills"
         class="third-section-page min-vh-100 d-flex flex-column mb-5">
  <input type="hidden" #selectResume>

  <div class="d-flex flex-column justify-content-center align-items-center column-nav-resume">
    <div class="mt-5 position-relative div-main-label">
      <span class="my-resume-main-label">Моё резюме</span>
    </div>
<!--    кнопки выбра навыки, образование, опыт-->
    <div class=" gap-nav-divs flexible-buttons-nav-resume ">
      <!--НАВЫКИ-->
<!--      <div class="btn-group" role="group" aria-label="Базовая группа переключателей радио">-->
      <div class="nav-button-resume ">
        <input (click)="selectResume.value = 'skillses'"
               type="radio" class="btn-check" name="btnradio" id="skillsRadio" autocomplete="off" checked>
        <label class="btn btn-nav-resume" for="skillsRadio">Навыки</label>
      </div>
      <!--ОБРАЗОВАНИЕ-->
      <div class="nav-button-resume ">
        <input (click)="selectResume.value = 'educationses'"
               type="radio" class="btn-check" name="btnradio" id="educationRadio" autocomplete="off">
        <label class="btn btn-nav-resume" for="educationRadio">Образование</label>
      </div>
      <!--ОПЫТ-->
      <div class="nav-button-resume ">
        <input (click)="selectResume.value = 'expirienceses'"
               type="radio" class="btn-check" name="btnradio" id="expirienceRadio" autocomplete="off">
        <label class="btn btn-nav-resume" for="expirienceRadio">Опыт</label>
      </div>
<!--      </div>-->
    </div>
  </div>

  <!--карточки с даными по выборке кнопки-->
  <div class="d-flex column-cards-resume justify-content-center align-items-start">
    <div class="card-resume" [ngSwitch]="selectResume.value">
      <!-- _________________________________________________НАВЫКИ карточки-->
      <div class="d-flex  flex-wrap "
           *ngSwitchDefault>
        <div *ngFor="let skillCards of skills_title"
             class="current-card">
          <div class="d-flex flex-column inner-card-info">
            <div class="first-card-title">
              <span class="text-label-card">{{skillCards}}</span>
              <i class="bi-icon-card-skills bi " [ngClass]="{'bi-filetype-py': skillCards == 'Python 3',
                                                             'bi-filetype-sql': skillCards == 'SQL',
                                                             'bi-filetype-js': skillCards =='JS/TS',
                                                             'bi-filetype-html': skillCards == 'HTML5',
                                                             'bi-filetype-css': skillCards == 'CSS3',
                                                             'bi-database-add': skillCards == 'Server'}"></i>
            </div>
            <div class="second-card-text">
              <div *ngIf="skillCards == 'Python 3'">
                <!--[class.odd-text]="index % 2 == 1"-->
                <span *ngFor="let py of skills_names[0]; let index = index"
                      class="span-of-text-really">{{py}} ▫ </span>
              </div>
              <div *ngIf="skillCards == 'SQL'">
                <span *ngFor="let sql of skills_names[1]"
                      class="span-of-text-really">{{sql}} ▫ </span>
              </div>
              <div *ngIf="skillCards == 'JS/TS'">
                <span *ngFor="let jsts of skills_names[2]"
                      class="span-of-text-really">{{jsts}} ▫ </span>
              </div>
              <div *ngIf="skillCards == 'HTML5'">
                <span *ngFor="let html of skills_names[3]"
                      class="span-of-text-really">{{html}} ▫ </span>
              </div>
              <div *ngIf="skillCards == 'CSS3'">
                <span *ngFor="let css of skills_names[4]"
                      class="span-of-text-really">{{css}} ▫ </span>
              </div>
              <div *ngIf="skillCards == 'Server'">
                <span *ngFor="let server of skills_names[5]"
                      class="span-of-text-really">{{server}} ▫ </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ______________________________________________ОБРАЗОВАНИЕ карточки-->
      <div class="d-flex  flex-wrap "
           *ngSwitchCase="'educationses'">
        <div *ngFor="let eduCard of education_title"
             class="current-card">
          <div class="d-flex flex-column "
               [class.none-card]="eduCard == ''"
               [class.inner-card-info]="eduCard != ''"
          >
            <div class="education-upper-card-content"
                 [class.first-card-title]="eduCard != ''">
              <span class="ms-4 title-experience">{{eduCard}}</span>
              <span *ngIf="eduCard == 'ПГНИУ'"
                    class=" me-4 years-experience">
                {{education_years[0]}}
              </span>
              <span *ngIf="eduCard == 'ПНИПУ'"
                    class=" me-4 years-experience">
                {{education_years[1]}}
              </span>
              <span *ngIf="eduCard == 'Курсы'"
                    class=" me-4 years-experience">
                {{education_years[2]}}
              </span>
            </div>
            <div class="second-card-title-EDU">
              <span class="experience-text"
                    *ngIf="eduCard == 'ПГНИУ'">
                {{education_specialization[0]}}
              </span>
              <span class="experience-text"
                    *ngIf="eduCard == 'ПНИПУ'">
                {{education_specialization[1]}}
              </span>
              <span class="experience-text"
                    *ngIf="eduCard == 'Курсы'">
                {{education_specialization[2]}}
              </span>

            </div>
            <div class="third-card-title-EDU">
              <span *ngIf="eduCard == 'ПГНИУ'"
                    class="education-name">
                *{{education_names[0]}}
              </span>
              <span *ngIf="eduCard == 'ПНИПУ'"
                    class="education-name">
                *{{education_names[1]}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- ______________________________________________ОПЫТ карточки-->
      <div class="d-flex flex-wrap "
           *ngSwitchCase="'expirienceses'">
        <div *ngFor="let expCard of experience_title"
             class="current-card">
          <div class="d-flex flex-column"
               [class.none-card]="expCard == ''"
               [class.inner-card-info]="expCard != ''"
          >
            <div class="experience-upper-card-content"
                 [class.first-card-title]="expCard != ''">
              <span class=" ms-4 title-experience">{{expCard}}</span>
              <span *ngIf="expCard == 'Фриланс Телеграм Боты'"
                    class=" me-4 years-experience">
                {{experience_years[0]}}
              </span>
              <span *ngIf="expCard == 'Техник-программист'"
                    class=" me-4 years-experience">
                {{experience_years[1]}}
              </span>
            </div>
            <div class="second-card-text">
              <span class="experience-text"
                    *ngIf="expCard == 'Фриланс Телеграм Боты'">
                {{experience_names[0]}}
              </span>
              <span class="experience-text"
                    *ngIf="expCard == 'Техник-программист'">
                {{experience_names[1]}}
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
