<div #sectionsContainer class="section-container">

  <!--главная-первая страница-->
  <section id="about"
           class="d-flex vertical">
    <div class="col-1"></div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <div class="d-flex flex-column">
        <span class="main-label">Привет<span class="border-dark">!</span></span>
        <span class="main-label">Я, Матвей</span>
        <div>
          <button class="button-config">Контакты</button>
        </div>
      </div>
    </div>
    <div class="col-7 d-flex  justify-content-center align-items-center"> <!--фотография-->
      <div class="div-photo"></div>
    </div>
  </section>





  <!--Вторая страница-->
  <section id="skills"
           class="sec-grey-bg-main min-vh-100 d-flex flex-column ">
    <input type="hidden" #selectResume>

    <div class="d-flex flex-column justify-content-center align-items-center column-nav-resume">
      <div>
        <span>Моё резюме</span>
      </div>
      <div class="d-flex justify-content-center gap-nav-divs">
        <div class="">
          <input (click)="selectResume.value = 'skillses'"
                 type="radio" class="btn-check" name="btnradio" id="skillsRadio" autocomplete="off" checked>
          <label class="btn btn-nav-resume" for="skillsRadio">Навыки</label>
        </div>

        <div class="">
          <input (click)="selectResume.value = 'educationses'"
                 type="radio" class="btn-check" name="btnradio" id="educationRadio" autocomplete="off">
          <label class="btn btn-nav-resume" for="educationRadio">Образование</label>
        </div>

        <div class="">
          <input (click)="selectResume.value = 'expirienceses'"
                 type="radio" class="btn-check" name="btnradio" id="expirienceRadio" autocomplete="off">
          <label class="btn btn-nav-resume" for="expirienceRadio">Опыт</label>
        </div>
      </div>
    </div>

    <div class="d-flex column-cards-resume justify-content-center align-items-start">
      <div class="card-resume" [ngSwitch]="selectResume.value">
        <div class="d-flex gap-nav-divs flex-wrap "
             *ngSwitchDefault > <!-- НАВЫКИ SKILLS-->
          <div *ngFor="let skillCards of resumeCards[0]"
               class="current-card">
              <span>{{skillCards[0]}}</span>
          </div>
        </div>
        <div class="d-flex gap-nav-divs flex-wrap "
             *ngSwitchCase="'educationses'">
          <div *ngFor="let skillCards of resumeCards[1]"
               class="current-card">
            <span>{{skillCards[0]}}</span>
          </div>
        </div>

        <div class="d-flex gap-nav-divs flex-wrap "
             *ngSwitchCase="'expirienceses'">
          <div *ngFor="let skillCards of resumeCards[2]"
               class="current-card">
            <span>{{skillCards[0]}}</span>
          </div>
        </div>
      </div>
    </div>


  </section>







  <!--третья страница-->
  <section id="contacts"
           class="blue-bg-main vh-100">

  </section>
</div>
