<!--1 главная-первая страница-->
<section
         class="d-flex vertical">
  <div class="col-1-my"></div>
  <div class="col-4-my d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column"> <!-- Приветствие  -->
      <span class="main-label">Привет 👋<span class="border-dark">!</span></span>
      <span class="col main-label">Я, Матвей</span>
      <div>
        <button (click)="onContactMe()"
                class="button-config">СВЯЗАТЬСЯ</button>
      </div>
    </div>
  </div>
  <!--фотография-->
  <div class="col-7-my d-flex  justify-content-center align-items-center">
    <div class="div-photo"></div>-
  </div>
</section>



<!--2 секция обо мне-->
<section id="about" class="min-vh-100">
  <!--  лейбл-->
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="vanilla-main mb-5 mt-4">Кто я такой?</h1>
  </div>

  <div class="d-flex">
    <!--    левая часть (фото)-->
    <div class="col-5 d-flex justify-content-center align-items-center">
      <div class="div-photo"></div>
    </div>
    <!--    правая часть (обо мне)-->
    <div class="col-7 d-flex flex-column">
      <h3 class="text-white"> Меня зовут Матвей Ильин</h3>
      <div class="d-flex justify-content-center align-items-center div-text-about-me">
        <div>
          <span class="">Monotonectally orchestrate professionals supply chains whereas are metrics.
            Globally procrastinate backward-compatible application the action items. Collaboratively
            enhance extensibl collaboration and it's through interdependent opportunities. </span>
          <br>
          <span>Ну и все в таком духе свяжитесь со мной</span>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</section>


<!--3 секция навки-->
<section id="skills"
         class="sec-grey-bg-main min-vh-100 d-flex flex-column ">
  <input type="hidden" #selectResume>

  <div class="d-flex flex-column justify-content-center align-items-center column-nav-resume">
    <div class="mt-5 mb-5">
      <span class="my-resume-main-label">Моё резюме</span>
    </div>
<!--    кнопки выбра навыки, образование, опыт-->
    <div class="d-flex justify-content-center gap-nav-divs flex-wrap ">
      <!--НАВЫКИ-->
      <div class="nav-button-resume">
        <input (click)="selectResume.value = 'skillses'"
               type="radio" class="btn-check" name="btnradio" id="skillsRadio" autocomplete="off" checked>
        <label class="btn btn-nav-resume" for="skillsRadio">Навыки</label>
      </div>
      <!--ОБРАЗОВАНИЕ-->
      <div class="nav-button-resume">
        <input (click)="selectResume.value = 'educationses'"
               type="radio" class="btn-check" name="btnradio" id="educationRadio" autocomplete="off">
        <label class="btn btn-nav-resume" for="educationRadio">Образование</label>
      </div>
      <!--ОПЫТ-->
      <div class="nav-button-resume">
        <input (click)="selectResume.value = 'expirienceses'"
               type="radio" class="btn-check" name="btnradio" id="expirienceRadio" autocomplete="off">
        <label class="btn btn-nav-resume" for="expirienceRadio">Опыт</label>
      </div>
    </div>
  </div>

  <!--карточки с даными по выборке кнопки-->
  <div class="d-flex column-cards-resume justify-content-center align-items-start">
    <div class="card-resume" [ngSwitch]="selectResume.value">
      <!-- _________________________________________________НАВЫКИ карточки-->
      <div class="d-flex gap-nav-divs flex-wrap "
           *ngSwitchDefault>
        <div *ngFor="let skillCards of skills_title"
             class="current-card">
          <div class="d-flex flex-column inner-card-info">
            <div class="first-card-title">
              <span class="text-label-card">{{skillCards}}</span>
              <i class="bi-icon-card-skills bi " [ngClass]="{'bi-filetype-py': skillCards == 'Python 3',
                                                             'bi-filetype-sql': skillCards == 'SQL',
                                                             'bi-filetype-js': skillCards =='JS/TS',
                                                             'bi-filetype-html': skillCards == 'HTML5',
                                                             'bi-filetype-css': skillCards == 'CSS3',
                                                             'bi-database-add': skillCards == 'Server'}"></i>
            </div>
            <div class="second-card-text">
              <div *ngIf="skillCards == 'Python 3'">
                <!--[class.odd-text]="index % 2 == 1"-->
                <span *ngFor="let py of skills_names[0]; let index = index"
                      class="span-of-text-really">{{py}} | </span>
              </div>
              <div *ngIf="skillCards == 'SQL'">
                <span *ngFor="let sql of skills_names[1]"
                      class="span-of-text-really">{{sql}} | </span>
              </div>
              <div *ngIf="skillCards == 'JS/TS'">
                <span *ngFor="let jsts of skills_names[2]"
                      class="span-of-text-really">{{jsts}} | </span>
              </div>
              <div *ngIf="skillCards == 'HTML5'">
                <span *ngFor="let html of skills_names[3]"
                      class="span-of-text-really">{{html}} | </span>
              </div>
              <div *ngIf="skillCards == 'CSS3'">
                <span *ngFor="let css of skills_names[4]"
                      class="span-of-text-really">{{css}} | </span>
              </div>
              <div *ngIf="skillCards == 'Server'">
                <span *ngFor="let server of skills_names[5]"
                      class="span-of-text-really">{{server}} | </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ______________________________________________ОБРАЗОВАНИЕ карточки-->
      <div class="d-flex gap-nav-divs flex-wrap "
           *ngSwitchCase="'educationses'">
        <div *ngFor="let eduCard of education_title"
             class="current-card">
          <div class="d-flex flex-column inner-card-info">
            <div class="d-flex first-card-title-EDU justify-content-between">
              <span class="mt-4 ms-4 title-experience">{{eduCard}}</span>
              <span *ngIf="eduCard == 'ПГНИУ'"
                    class="mt-4 me-4 years-experience">
                {{education_years[0]}}
              </span>
              <span *ngIf="eduCard == 'ПНИПУ'"
                    class="mt-4 me-4 years-experience">
                {{education_years[1]}}
              </span>
              <span *ngIf="eduCard == 'Курсы'"
                    class="mt-4 me-4 years-experience">
                {{education_years[2]}}
              </span>
            </div>
            <div class="second-card-title-EDU">
              <span class="experience-text"
                    *ngIf="eduCard == 'ПГНИУ'">
                {{education_specialization[0]}}
              </span>
              <span class="experience-text"
                    *ngIf="eduCard == 'ПНИПУ'">
                {{education_specialization[1]}}
              </span>
              <span class="experience-text"
                    *ngIf="eduCard == 'Курсы'">
                {{education_specialization[2]}}
              </span>

            </div>
            <div class="third-card-title-EDU">
              <span *ngIf="eduCard == 'ПГНИУ'"
                    class="education-name">
                *{{education_names[0]}}
              </span>
              <span *ngIf="eduCard == 'ПНИПУ'"
                    class="education-name">
                *{{education_names[1]}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- ______________________________________________ОПЫТ карточки-->
      <div class="d-flex gap-nav-divs flex-wrap "
           *ngSwitchCase="'expirienceses'">
        <div *ngFor="let expCard of experience_title"
             class="current-card">
          <div class="d-flex flex-column inner-card-info">
            <div class="d-flex first-card-title justify-content-between">
              <span class="mt-4 ms-4 title-experience">{{expCard}}</span>
              <span *ngIf="expCard == 'Фриланс Телеграм Боты'"
                    class="mt-4 me-4 years-experience">
                {{experience_years[0]}}
              </span>
              <span *ngIf="expCard == 'Техник-программист'"
                    class="mt-4 me-4 years-experience">
                {{experience_years[1]}}
              </span>
            </div>
            <div class="second-card-text">
              <span class="experience-text"
                    *ngIf="expCard == 'Фриланс Телеграм Боты'">
                {{experience_names[0]}}
              </span>
              <span class="experience-text"
                    *ngIf="expCard == 'Техник-программист'">
                {{experience_names[1]}}
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="align-self-center">
    <button (click)="onContactMe()"
            class="btn"
            >
      Связаться
    </button>
  </div>
</section>







  <!--третья страница-->
<!--  <section id="contacts"-->
<!--           class="grey-bg-main d-flex flex-column vh-100">-->
<!--    <div class="align-self-center"><span>Контактные данные</span></div>-->
<!--    <div class="d-flex flex-wrap align-content-between">-->
<!--      <div class="col-5 div-photo-sec"></div>-->
<!--      <div class="col-6 d-flex flex-column">-->
<!--        <span>напиши мне что нибудь</span>-->
<!--        <span></span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

