<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Фильтрация
      </mat-panel-title>
      <mat-panel-description class="d-flex justify-content-end">
        <mat-icon>
          filter_list
        </mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="fgVisitorsFilter" class="d-flex">
      <mat-form-field class="input-ip">
        <mat-label>ip</mat-label>
        <input formControlName="ip" type="text" matInput>
        <button matSuffix mat-icon-button
                (click)="fgVisitorsFilter.controls['ip'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button
              color="accent"
              class="ms-3"
              (click)="onClickChangeIpDescFilter()"
      >
        <span *ngIf="searchObj.hasIpDesc == null">С/Без описания</span>
        <span *ngIf="searchObj.hasIpDesc == true">С описанием</span>
        <span *ngIf="searchObj.hasIpDesc == false">Без описания</span>
      </button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
