<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">-->
<!--<html>-->
<!--<head>-->
<!--  <style type="text/css">body {}  tr {display: block} td {display: block; width: 100%}</style>-->
<!--</head>-->
<!--<body>-->
<!--<table style="background-color: #4d6391; margin:0; padding:0" width="100%" border="0" cellspacing="0" cellpadding="0">-->
<!--  <tr>-->
<!--    <td style="text-align: center; padding: 20px 0; background-color: #3C517C">-->
<!--      <span style="color: #05fcff">@mattheweb.ru</span>-->
<!--      <h3 style="color: #ffffff">Вам оставлена новая заявка для обратной связи!</h3>-->
<!--    </td>-->
<!--    <td style="height: 3px; width:100%; background: #05fcff"></td>-->
<!--    <td style="text-align: start; padding: 15px 50px 15px">-->
<!--      <h5 style="color: #ffffff"><b style="color: #05fcff">Имя:</b> Иван</h5>-->
<!--      <h5 style="color: #ffffff"><b style="color: #05fcff">Email:</b> ivan@mail.com</h5>-->
<!--      <h5 style="color: #ffffff"><b style="color: #05fcff">Тема вопроса:</b> Тема вопроса</h5>-->
<!--      <h5 style="color: #ffffff"><b style="color: #05fcff">Комментарий:</b> Комментарий для связи</h5>-->
<!--      <h5 style="color: #ffffff"><b style="color: #05fcff">Ip устройства:</b> Комментарий для связи</h5>-->
<!--      <h5 style="color: #ffffff"><b style="color: #05fcff">User agent:</b> Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36 OPR/110.0.0.0 (Edition Yx 05)</h5>-->
<!--    </td>-->
<!--                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <td style="height: 3px; width:100%; background: #05fcff"></td>-->
<!--    <td style="text-align: center; background-color: #2e3b57; padding: 20px 0 25px">-->
<!--      <span style="color: #05fcff">🌐 Telegram: <span style="color: #d9d9d9">@rudalsmolyusr</span></span>-->
<!--      <br>-->
<!--      <span style="color: #05fcff">📨 Почта:  <span style="color: #d9d9d9">matthew.avid.ng@gmail.com</span></span>-->
<!--      <br>-->
<!--      <br>-->
<!--      <span style="color: #d9d9d9; font-size: 11px; margin-top: 15px">Это письмо сформировано автоматически службой уведомлений. Отвечать на него не нужно.</span>-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <style type="text/css">body {}  tr {display: block} td {display: block; width: 100%}</style>
</head>
<body>
<table style="background-color: #4d6391; margin:0; padding:0" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="text-align: center; padding: 20px 0; background-color: #3C517C">
      <span style="color: #05fcff">@mattheweb.ru</span>
      <h4 style="color: #ffffff">Автоматическое подтверждение обращения mattheweb.ru</h4>
    </td>
    <td style="height: 3px; width:100%; background: #05fcff"></td>
    <td style="text-align: start; padding: 15px 50px 15px">
      <h5 style="color: #ffffff">Добрый день, Имя!</h5>
      <h5 style="color: #ffffff">Я благодарю вас за то, что вы оставили свои контакты на моем сайте. <br>Я получил ваше обращение и скоро свяжусь с вами,<br>чтобы обсудить детали вашего вопроса. <br>Спасибо за ваш интерес к моим услугам!</h5>
    </td>
    <td style="height: 3px; width:100%; background: #05fcff"></td>
    <td style="text-align: center; background-color: #2e3b57; padding: 20px 0 25px">
      <span style="color: #05fcff">🌐 Telegram: <span style="color: #d9d9d9">@rudalsmolyusr</span></span>
      <br>
      <span style="color: #05fcff">📨 Почта:  <span style="color: #d9d9d9">matthew.avid.ng@gmail.com</span></span>
      <br>
      <br>
      <span style="color: #d9d9d9; font-size: 11px; margin-top: 15px">Это письмо сформировано автоматически службой уведомлений. Отвечать на него не нужно.</span>
    </td>
  </tr>
</table>
</body>
</html>

