/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css ';*/
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Главные цвета проекта*/
/*.red-main{color: #ec5051;}.red-bg-main{background-color: #ec5051;}*/

/*.blue-main{color: #97c9d7;}.blue-bg-main{background-color: #97c9d7;}*/

/*.vanilla-main{color: #fcf1ed;}.vanilla-bg-main{background-color: #fcf1ed;}*/

/*.grey-main{color: #495458;}.grey-bg-main{background-color: #495458;}*/

/*.sec-grey-main{color: #353c3e;}  .sec-grey-bg-main{background-color: #353c3e;}*/

/*.black-main{color: #212529;}.black-bg-main{background-color: #212529;}*/

:root{
  /*--first-red-color: #ec5051;*/
  /*--second-blue-color: #97c9d7;*/
  /*--trird-vanilla-color-or-txt: #fcf1ed;*/
  /*--grey-for-bg-color: #495458;*/
  /*--darker-grey-for-bg-color: #353c3e;*/
  /*--black-color: #212529;*/
  --first-red-color: #3C517C;
  --second-blue-color: #98d5db;
  --trird-vanilla-color-or-txt: #f7f8f9;
  --second-trird-vanilla-color-or-txt: #ddddde;
  --third-trird-vanilla-color-or-txt: #c7c7c7;
  --grey-for-bg-color: #B6B4B3;
  --darker-grey-for-bg-color: #89908F;
  --black-color: rgb(22, 29, 42);

  --deep-dark-blue: rgb(46, 59, 87);
  --darker-second-blue-color: #05fcff;


  --control-main: #7b1fa2;
  --control-black-bg: #303030;
  --control-accent: #69f0ae;
  --control-primary: #ff4081;

}

.control-main-bg{
  background-color: var(--control-main);
}

.control-primary{
  color: var(--control-primary);
}

.control-accent{
  color: var(--control-accent);
}

.max-width-1920{
  max-width: 1920px;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #ff4081 !important;
  --mdc-snackbar-container-color: #333333 !important;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87) !important;
}
/*#2a95ff красивый голубой цвет*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

