<mat-drawer-container autosize class="example-container">
  <mat-drawer mode="over" class="example-sidenav" >
    <div class="container-sidenav">
      <button class="btn btn-dark " [routerLink]="['/']">На главную страницу</button>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Посетители">
        <div class="d-flex flex-column justify-content-between">
          <app-filter-control
            [clickedVisitorIp]="filteredVisitorIp"
            [filterForTable]="TableType.Visitors"

            (newSearchVisitor)="toSearchVisitors($event)"
          ></app-filter-control>
          <div class="d-flex">
            <button mat-stroked-button
                    class="btn-mat-update mx-1 my-2"
                    type="button"
                    color="basic"
                    (click)="toSearchVisitors(searchVisitors)">
              <mat-icon>refresh</mat-icon>
              Обновить
            </button>
            <button mat-stroked-button
                    class="btn-mat-update mx-1 my-2"
                    type="button"
                    color="basic"
                    [disabled]="true">
              <mat-icon>toc</mat-icon>
              Смотреть
            </button>
            <button mat-stroked-button
                    class="btn-mat-update mx-1 my-2"
                    type="button"
                    color="basic"
                    [disabled]="true">
              <mat-icon>search</mat-icon>
              Поиск&nbsp;ip
            </button>
          </div>
        </div>

        <app-table-control [dataSourceFromBackend]="dataVisitorsList"
                           [displayedColumns]="visitorsFieldList"
                           [tableForType]="TableType.Visitors"

                           (onClickRow)="onClickVisitorRow($event)"
        ></app-table-control>
      </mat-tab>


      <mat-tab label="Заявки">
        <button mat-stroked-button
                type="button"
                color="basic"
                class="m-3"
                (click)="updateAndGetAllContacts()">
          Обновить заявки
        </button>

        <app-table-control [dataSourceFromBackend]="dataContactsList"
                           [displayedColumns]="contactsFieldList"
                           [tableForType]="TableType.Contacts"
        ></app-table-control>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-drawer-container>
