<mat-drawer-container autosize class="example-container overflow-auto">
  <mat-drawer mode="over" class="example-sidenav overflow-auto" >
    <div class="container-sidenav ">
      <button mat-raised-button [routerLink]="['/']" color="accent">На главную страницу</button>
    </div>
  </mat-drawer>
  <div class="example-sidenav-content">
    <mat-tab-group animationDuration="0ms" selectedIndex="2">

<!-- ? //////////////______ ВКЛАДКА "ПОСЕТИТЕЛИ" _____\\\\\\\\\\\\\-->
      <mat-tab label="Посетители" class="overflow-auto">
        <div class="d-flex flex-column justify-content-between overflow-auto">
          <app-filter-control
            [clickedVisitorIp]="filteredVisitorIp"
            [filterForTable]="TableType.Visitors"
            [searchObj]="searchVisitors"

            (newSearchVisitor)="toSearchVisitors($event)"
          ></app-filter-control>
          <div class="d-flex">
            <button mat-button
                    class="btn-mat-update mx-1 my-2"
                    type="button"
                    color="basic"
                    (click)="toSearchVisitors(searchVisitors)">
              <mat-icon>refresh</mat-icon>
              <span *ngIf="!isMobile">Обновить</span>
            </button>
            <button mat-button
                    class="btn-mat-update mx-1 my-2"
                    type="button"
                    color="accent"
                    [disabled]="!chosenVisitorRow"
                    (click)="toSearchByVisitorIp()">
              <mat-icon>search</mat-icon>
              <span *ngIf="!isMobile">Поиск&nbsp;ip</span>
            </button>
            <button mat-button
                    class="btn-mat-update mx-1 my-2"
                    type="button"
                    color="accent"
                    [disabled]="!chosenVisitorRow"
                    (click)="toOpenModalForInfoOfVisitor()">
              <mat-icon>toc</mat-icon>
              <span *ngIf="!isMobile">Запись</span>
            </button>
            <button mat-button
                    class="btn-mat-update mx-1 my-2"
                    type="button"
                    color="accent"
                    [disabled]="!chosenVisitorRow"
                    (click)="onClickDeleteVisitorRow()">
              <mat-icon>delete_forever</mat-icon>
              <span *ngIf="!isMobile">Удалить</span>
            </button>
          </div>
        </div>

        <app-table-control class="overflow-auto" [dataSourceFromBackend]="dataVisitorsList"
                           [displayedColumns]="visitorsFieldList"
                           [tableForType]="TableType.Visitors"

                           (onClickRow)="onClickVisitorRow($event)"
        ></app-table-control>
      </mat-tab>
      <!-- ? //////////////______ ВКЛАДКА "ЗАЯВКИ" _____\\\\\\\\\\\\\-->
      <mat-tab label="Заявки">
        <button mat-stroked-button
                type="button"
                color="basic"
                class="m-3"
                (click)="updateAndGetAllContacts()">
          Обновить заявки
        </button>
        <app-table-control [dataSourceFromBackend]="dataContactsList"
                           [displayedColumns]="contactsFieldList"
                           [tableForType]="TableType.Contacts"
        ></app-table-control>
      </mat-tab>
      <!-- ? //////////////______ ВКЛАДКА "ГРАФИКИ" _____\\\\\\\\\\\\\-->
      <mat-tab label="Графики">
        <div class="h-100 w-100 d-flex flex-column">
          <div class="visitors-chart-span d-flex flex-column align-items-center ">
            <span class=" mt-2 text-center">Заходы на сайт [{{getDateSelectedCharts()}}]</span>
            <div class="my-2">
              <button class="btn btn-sm btn-outline-light"
                      (click)="onClickResetToDefaultDateForCharts()">Вернуть по-умолчанию</button>
            </div>
          </div>
          <div class="container-charts">
            <div class="pod-container-charts ">
              <canvas baseChart #chartByYears
                      class="chart"
                      [height]="getHeightChart()"
                      [type]="typeForChartByYears"
                      [data]="datasetsForChartBarByYears"
                      [options]="optionsForChartBarByYears"

                      (chartClick)="onClickChartByYears($event)"
              ></canvas>
              <div *ngIf="datasetsForChartBarByYears" class="d-flex justify-content-center">
                <button class="btn btn btn-outline-light m-3"
                        [class.btn-sm]="isMobile"
                        (click)="onToggleTypeCharByYears()"
                >Изменить тип диаграммы "За все года" <i class="bi bi-bar-chart-fill"></i></button>
              </div>
            </div>
            <div class="pod-container-charts">
              <canvas baseChart #chartByMonths
                      class="chart"
                      [height]="getHeightChart()"
                      [type]="typeForChartByMonths"
                      [data]="datasetsForChartBarByMonths"
                      [options]="optionsForChartBarByMonths"

                      (chartClick)="onClickChartByMonths($event)"
              ></canvas>
              <div *ngIf="datasetsForChartBarByMonths" class="d-flex justify-content-center">
                <button class="btn btn btn-outline-light m-3"
                        [class.btn-sm]="isMobile"
                        (click)="onToggleTypeCharByMonths()"
                >Изменить тип диаграммы "По месяцам" <i class="bi bi-bar-chart-fill"></i></button>
              </div>
            </div>

          </div>
          <div class="container-charts">
            <div class="pod-container-charts">
              <canvas baseChart #chartByDays
                      class="chart"
                      [height]="getHeightChart()"
                      [type]="typeForChartByDays"
                      [data]="datasetsForChartBarByDays"
                      [options]="optionsForChartBarByDays"

                      (chartClick)="onClickChartByDays($event)"
              ></canvas>
              <div *ngIf="datasetsForChartBarByDays" class="d-flex justify-content-center">
                <button class="btn btn btn-outline-light m-3"
                        [class.btn-sm]="isMobile"
                        (click)="onToggleTypeCharByDays()"
                >Изменить тип диаграммы "По дням" <i class="bi bi-bar-chart-fill"></i></button>
              </div>
            </div>
            <div class="pod-container-charts">
              <canvas baseChart #chartByHours
                      class="chart"
                      [height]="getHeightChart()"
                      [type]="typeForChartByHours"
                      [data]="datasetsForChartBarByHours"
                      [options]="optionsForChartBarByHours"
              ></canvas>
              <div *ngIf="datasetsForChartBarByHours" class="d-flex justify-content-center">
                <button class="btn btn btn-outline-light m-3"
                        [class.btn-sm]="isMobile"
                        (click)="onToggleTypeCharByHours()"
                >Изменить тип диаграммы "По часам" <i class="bi bi-bar-chart-fill"></i></button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
<!--      <mat-tab label="Тест">-->
<!--        <div class="test-con-chart">-->
<!--          <canvas baseChart-->
<!--                  [height]="null"-->
<!--                  class="test-chart"-->
<!--                  [type]="typeForChartByYears"-->
<!--                  [data]="datasetsForChartBarByYears"-->
<!--                  [options]="optionsForChartBarByYears"-->

<!--                  (chartClick)="onClickChartByYears($event)"-->
<!--          ></canvas>-->
<!--        </div>-->
<!--      </mat-tab>-->
    </mat-tab-group>
  </div>
</mat-drawer-container>
