.first-vh{
  height: calc(100vh - 83px);
  max-height: 1080px;
  min-height: 550px;
}
.second-vh{
  min-height: 750px;
  background-color: var(--black-color);
}
.third-vh{
 min-height: 100vh;
 max-height: 1080px;
}
